{%extends 'main_page/base.html'%}
{% load static %}

{% block main_area %}

<body onload="mylocation()">
    <div class="d-flex" id="container" style="height: 100%;">
        <div class="col-md-3 bg-secondary" >
            <div class="col">
                <div class="input-group mb-3 my-5 p-3 ">
                    <input type="text" class="form-control" id="input-search" placeholder="편의점 지도 검색" aria-label="Recipient's username"
                        aria-describedby="button-addon2" onKeypress="javascript:if(event.keyCode==13) {search_location()}"/>
                    <button class="btn btn-outline-dark text-white" type="button" id="button-search"
                        onclick="search_location()">검색</button>
                </div>
                <div class="my-5 ">
                    <div class="my-5 p-2 fw-normal fs-4 text-center">
                    포켓몬 빵, 허니버터칩 등<br>최근 유행 제품 찾기 어려울 땐<br><h3><strong>CSN</strong></h3><br>현 위치 주변 편의점을 찾고<br>커뮤니티 기능으로<br>물량 확인 및 친목까지<br><h3><strong>CSN</strong></h3><br>
                    오늘의 게시글 <br>
                    {% for d in data%}
                        <a class = "mb-1" id = "hot_post" href="{{d.0}}" style="font-size: 8;">{{d.3|add:1}}위 {{d.1}}</a><br>
                    {%endfor%}
                </div>
                </div>
            
                <div class="fixed-bottom my-4">
                    <button type="button" class="btn btn-dark p-auto my-5 " onclick="mylocation()"
                        id="mylocation" >현위치</button>
                </div>
            </div>
        </div>
        <div class="col p-3 mb-2 d-flex" style="flex:1;">
            <div class=" p-3" id="map" style="width: 90%;"></div>
        </div>
    </div>


    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fd06bc4839879de7fd8f6b44b09cc61&libraries=services"></script>
    <script>

        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption);


        // 검색  함수
        function search_location() {
            // 장소 검색 객체를 생성합니다
            var ps1 = new kakao.maps.services.Places();
            var inputData = $('#input-search').val();
            $('#input-search').val("");
            var callback = function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    x = result[0]["x"];
                    y = result[0]["y"];
                    // 이동할 위도 경도 위치를 생성합니다 
                    var moveLatLon = new kakao.maps.LatLng(parseFloat(y),parseFloat(x));
                    console.log(moveLatLon)
                    
                    // 지도 중심을 부드럽게 이동시킵니다
                    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                    map.panTo(moveLatLon);  
                    refind(moveLatLon)
                    map.relayout();
                }
            }
            if (inputData == "") {
                alert("검색어를 입력하세요");
            } else {
                ps1.keywordSearch(inputData, callback);
            }
        }

        // 다시 찾는 함수
        function refind(position) {
            var position = map.getCenter();
            findCS(position);
            resizeMap();
        }

        // 반응형 map 함수
        function resizeMap() {
            $("#map").height($("#container").innerHeight() * 0.75);
            $("#map").css("margin", $("#container").innerHeight() * 0.07);
            $("#mylocation").css("margin-left", $("#container").innerWidth() * 0.94)
        }


        function findCS(position) {
            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places(map);


            // 카테고리로 은행을 검색합니다
            ps.categorySearch('CS2', placesSearchCB, { useMapBounds: true, location: new kakao.maps.LatLng(position), radius: 10000 });

            // 키워드 검색 완료 시 호출되는 콜백함수 입니다
            function placesSearchCB(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {
                    for (var i = 0; i < data.length; i++) {
                        displayMarker(data[i]);
                    }
                }
            }

            // 지도에 마커를 표시하는 함수입니다
            function displayMarker(place) {
                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function () {
                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                    infowindow.open(map, marker);
                });

                resizeMap();
            }
        }


        function mylocation() {
            if (navigator.geolocation) {
                // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude, // 위도
                        lon = position.coords.longitude; // 경도
                    var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                        message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                    // 마커와 인포윈도우를 표시합니다
                    current_displayMarker(locPosition, message);
                });
            } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                    message = '위치를 불러올 수 없습니다.';
                current_displayMarker(locPosition, message);
            }


            // 지도에 마커와 인포윈도우를 표시하는 함수입니다
            function current_displayMarker(locPosition, message) {
                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition
                });
                var markerImage = new kakao.maps.MarkerImage(
                    'https://my-current-location.com/buttons/my-current.svg',
                    new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34));
                marker.setImage(markerImage);

                var iwContent = message, // 인포윈도우에 표시할 내용
                    iwRemoveable = true;

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: iwContent,
                    removable: iwRemoveable
                });

                // 인포윈도우를 마커위에 표시합니다 
                // infowindow.open(map, marker);

                // 지도 중심좌표를 접속위치로 변경합니다
                map.panTo(locPosition);  

                var position = map.getCenter();
                findCS(position);
            }

        }
    </script>
    {% endblock %}