{% extends 'main_page/base.html' %}

{% block head_title %}CSN{% endblock %}

{% block main_area %}
<div>
    <div class="row" style="font-family: 'Single Day', cursive;"">
        <div class="col-md-12 bg-light my-3" style="padding-left: 10px; padding-right: 70px;">
            {% if request.user.is_authenticated %}
                <a href="{% url 'post_create' %}"class="create_post_button btn float-right btn-success">게시글 작성</a>
            {% else %}
                <a href="{% url 'common:login' %}" onclick="alert('로그인이 필요한 서비스입니다.')"class="create_post_button btn float-right btn-success">게시글 작성</a>        
            {% endif %}
        </div>
        <hr>
    </div>
</div>
    {% for p in post_list %}
    <!-- Page content-->
    <div style="padding-bottom: 50px; padding-top: 10px; padding-left: 40px; padding-right: 40px;">
        <!-- Post Tags-->
        <h6>
            {% if p.tags.exists %}
                <div style="text-align: right;">
                    <i class="fa-solid fa-location-dot"></i>
                    {% for tag in p.tags.iterator %}
                        <a><span class="badge badge-pill badge-light" style="color:black;">{{ tag }}</span></a>
                    {% endfor %}
                    <br/>
                </div>
            {% endif %}
        </h6>
        <a href="{{ p.get_absolute_url }}" style="text-decoration:none; color:black;">
            <div class="row">
                <div class="col-lg-12">
                    <article>
                        <!-- Post header-->
                        <header class="">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{ p.title }}</h3>
                        </header>        
                        <!-- Post content-->
                        <!-- <p class="fs-5 mb-4">{{ p.content | truncatewords:10 | safe }}</p> -->
                        <!-- Post meta content-->
                        <div class="text-muted">
                            작성자: {{ p.author }}&nbsp;&nbsp;
                            <!-- Post created_date form changed -->
                            {{ p.created_at }}
                        </div>
                    </article>
                </div>
            </div>
        </a>
    </div>
    <hr>
    {% endfor %}

{% if is_paginated %}
<!-- Pagination -->
<nav aria-label="..." class="nav justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&larr;Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&larr;Previous</a>
        </li>
        {% endif %}

        {% for i in page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active">
                <a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            </li>
            {% else %}
            <li class="page-item mb-5">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Next&rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next&rarr;</a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- Pagination -->
<!-- <nav aria-label="Page navigation" class="nav justify-content-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled"><span>&laquo;</span></li>
      {% endif %}

      {% for i in page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </nav> -->
{% endif %}
{% endblock %}