{% extends 'main_page/base.html' %}
{% load static %}

{% block head_title %}게시글 작성{% endblock %}
{% block extra_link %}
    <script src="{% static 'js/summernote/summernote-lite.js' %}"></script>
    <script src="{% static 'js/summernote/lang/summernote-ko-KR.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/summernote/summernote-lite.css' %}">
    <!-- 작성 중에 나가거나 새로고침 시 저장되지 않는다고 경고 -->
    <script type="text/javascript">
        // function sd_check() {
        //     $("#check_login").hide();
        //     var check_TF = $("#check_login").text();
        //     alert(check_TF);
        // }

        // var checkUnload = true;
        // $(window).on('beforeunload', function () {
        //     if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
        // });
        // $("#write").on("click", function () {
        //     checkUnload = false;
        //     $("submit").submit();
        // });


    </script>


{% endblock %}

{% block main_area %}
<!-- {% if request.user.is_authenticated %}
    <div id="check_login" onload="sd_check()">T</div>
{% else %}
    <div id="check_login" onload="sd_check()">F</div>
{% endif %} -->

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-header" style="text-align:center; font-size: 20px;">
            <!-- 제목 입력 칸 -->
            <input type="text" name="title" maxlength="100" required="" id="id_title" size="80" style="text-align: center; font-size: 30px;" placeholder="제목을 입력해주세요.">
            <button type="sumbit" id="" class="create_post_button btn btn-sm btn-success">작성하기</button>
            <br>
            <div style=" float: right;">
                <i class="fa-solid fa-location-dot"></i>
                <!-- 태그 입력 칸 -->
                <input type="text" name="tags" maxlength="50" required="" id="id_tags" size="30" style="text-align: center; font-size: 20px; margin-top: 5px;" placeholder="태그를 입력해주세요.">
            </div>
        </div>
        <div class="card-tags" style="text-align:right; font-size: 20px; float: right;">
            
        </div>
        <script>
            $(document).ready(function() {
                $('#summernote').summernote({
                    placeholder: '내용을 입력해주세요.',
                    height: 650,
                    lang: 'ko-KR',
                
                    toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['help']]
                    ]
                });
                $('p').css('margin-bottom','0')
                $('.note-resizebar').css('display','none');
            });
        </script>
        
        <textarea id="summernote" name="content" cols="40" rows="10" required="" id="id_content"></textarea>
    </div>

    <!-- <div class="row" style="padding-right:20px;">
        <div class="text-align:center" style="padding:5px">
            <button type="sumbit" id="create_post_button" class="btn btn-sm btn-success" style="text-align:center;">작성하기</button>
        </div>
    </div> -->
</form>

{% endblock %}